.git/
.gitignore

__pycache__/
*.py[cod]
*.egg-info/
.eggs/

.venv/

.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/

*.swp

.materials/
benchmarks/
docs/
tests/

pyrightconfig.json
pytest.ini
ruff.toml
README.md
REPORT.md
